network:
  version: 2
  renderer: networkd
  ethernets:
    {{ trusted_network_configs[this_hostname].interface }}:
      dhcp4: no
      addresses:
        - {{ trusted_network_configs[this_hostname].address }}/{{ trusted_network_configs[this_hostname].netmask }}
{%- if not public_network_configs[this_hostname] is defined %}
      routes:
        - via: {{ trusted_network_configs[this_hostname].gateway }}
          on-link: true
          to: default
{%- endif %}
      nameservers:
        addresses:
          - {{ trusted_network_configs[this_hostname].gateway }}
{%- if public_network_configs[this_hostname] is defined %}
    {{ public_network_configs[this_hostname].interface }}:
      dhcp4: no
      addresses:
        - {{ public_network_configs[this_hostname].address }}/{{ public_network_configs[this_hostname].netmask }}
      routes:
        - via: {{ public_network_configs[this_hostname].gateway }}
          on-link: true
          to: default
{%- endif %}
  vlans:
    {{ vlan_config.interface }}:
      id: {{ vlan_config.id }}
      link: {{ trusted_network_configs[this_hostname].interface }}
      addresses:
        - {{ vlan_config.addresses[this_hostname] }}/{{ vlan_config.netmask }}

